# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

dist_electron/

# Build/Debug Artifacts
build_*.log
build_*.txt
vite_*.log
electron_*.txt
lint_*.txt
lint_*.json
lint.json
tsc_results*.txt
typecheck_errors.txt
test_log.txt
